body {
    background: #ffffff;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.mission-container {
    max-width: 700px;
    padding: 40px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.subtitle {
    font-size: 14px;
    color: #6592c9;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: -15px;
    text-transform: uppercase;
}

.divider {
    height: 1px;                  /* Thickness of the divider */
    background-color: #ddd;       /* Color of the divider */
    margin: 20px auto;            /* Centers the divider horizontally and adds space above and below */
    width: 500px;
}

.intro {
    text-align: left;
    font-size: 16px;
    line-height: 1.6;
    padding: 0 100px;
}

.italic {
    text-align: left;
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
    padding: 0 100px;
}

.mission-points {
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
   
    padding-left: 135px;
}

.mission-points li {
    margin-bottom: 15px;
}

.logo {
    text-align: center;
    margin: 20px 0;
    padding-top: 25px;
}

.logo img {
    height: auto; /* Maintain the aspect ratio */
    width: 115px; /* Set a fixed width */
}